<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <title>403</title>
</head>

<body>
<div id="error">
    <div class="error">
        <div class="error-common">
            <h1>Oops!</h1>
            <h2>403 - Access Denied</h2>
        </div>
        <a href="/">Go TO Homepage</a>
    </div>
</div>
</body>
</html>
