<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit marathon</title>
</head>
<body>
<h1>Edit marathon</h1>
<form th:action="@{/saveMarathon}" th:object="${marathon}" method="POST">
    <p>Id:
    <label>
        <input type="text" th:field="*{id}" id="id" disabled>
    </label>
    </p>
    <p>Title:

        <label>

            <input type="text" th:field="*{title}"/>
        </label>
    </p>
    <p><input type="submit" value="Edit marathon"/></p>
</form>
</body>
</html>