<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Student List</h1>
<a th:if="${marathonId}" th:href="@{'/students/'+ ${marathonId} + '/add'}">Add Student</a>
<a th:if="!${marathonId}" href="/addStudent">Add Student</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th th:if="${marathonId}">Remove action</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:utext="${student.id}">...</td>
            <td th:utext="${student.firstName}">...</td>
            <td th:utext="${student.lastName}">...</td>
            <td th:utext="${student.email}">...</td>
            <td th:utext="${student.password}">...</td>
            <td th:if="${marathonId}"><a th:href="@{'/students/'+ ${marathonId} + '/delete/' + ${student.id}}">
                Remove from marathon</a></td>
        </tr>
    </table>
</div>
</body>
</html>