<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<h2 th:if="${marathonId}" th:text="'This is students page for marathon with id ' + ${marathonId}"/>
<h2 th:if="!${marathonId}">This is students page</h2>
<a th:href="@{/}">Home page</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th th:if="${marathonId}">Remove action</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:utext="${student.id}">...</td>
            <td th:if="${marathonId}">
                <a th:text="${student.firstName}"
                   th:href="@{/students/{marathon_id}/edit/{student_id}(marathon_id=${marathonId},student_id=${student.id})}"></a>
            </td>
            <td th:if="!${marathonId}" th:utext="${student.firstName}">...</td>
            <td th:utext="${student.lastName}">...</td>
            <td th:utext="${student.email}">...</td>
            <td th:utext="${student.password}">...</td>
            <td th:if="${marathonId}"><a
                    th:href="@{/students/{marathon_id}/delete/{student_id}(marathon_id=${marathonId},student_id=${student.id})}">
                Remove from marathon</a></td>
        </tr>
    </table>
    <br><br>
    <a th:if="${marathonId}" th:href="@{/students/{marathon_id}/add(marathon_id=${marathonId})}">Add Student</a>
    <a th:if="!${marathonId}" href="/addStudent">Add Student</a>
</div>
</body>
</html>